header
{
    display: flex;
    height: 50px;
    align-items: center;
}

body
{
    font-family: "Inter";
    background-color: #F3F5FC;
}

#principal
{
    /*Caja*/
    display: flex;
    align-items: center;
    /*Disposicion del contenido*/
    justify-content:space-evenly;
}

#entrada
{
    /*Caja*/
    padding: 10px;
    margin-bottom: 10px;
    height: 250px;
    min-width: 350px;
    max-width: 350px;

    /*Texto*/
    font-size: 24px; 
    font-family: "Inter";
    color: #0A3871;
}

#button-encriptar
{
    background-color: #0A3871;
    color:white;
}

#button-desencriptar
{
    color:#0A3871;
    background-color: #D8DFE8;
}

#button-desencriptar:hover
{
    background-color: white;
}

#button-desencriptar:active
{
    background-color: #D8DFE8;
}


#button-encriptar:hover
{
    background-color: rgb(2, 92, 160)
}

#button-encriptar:active
{
    background-color: #0A3871;
}

button
{
    /*Caja*/
    width: 160px;
    border-radius: 18px;
    padding: 18px;

    /*Texto*/
    font-size: 16px;  

    /*Disposicion del contenido*/
    text-align: center;
}

#p-restricciones
{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img[src="imagenes/Vector.png"]
{
    width:12px;
}

#div-izquierdo
{
    /*Caja*/
    display: flex;
    height: fit-content;

    flex-direction: column;
    width: fit-content;
    /*Contenido*/
}

#div-botones
{
    /*Caja*/
    margin-left: auto;
    margin-right: auto;
}

#div-derecho
{
    /*Caja*/
    display: flex;
    flex-direction: column;
    /*Alinear salida al inicio, boton al final y salida para nulo al centro verticalmente*/
    justify-content: space-between;
    /*Centrar contenido horizontalmente*/
    align-items:center;
    border: solid rgb(146, 146, 146);
    background-color: white;
    width: 280px;
    height: 450px;
    border-radius: 26px;
    padding: 20px;
    
}

#salida
{
    align-self: flex-start;
}

#div-salida-inicial
{
    text-align: center;
}

p strong
{
    font-size: 16px;
}

#span-subleyenda
{
    font-size: 12px;
}

img[src="imagenes/muneco.png"]
{
    max-width: 80%;
    height: auto;
    margin-bottom: 10%;
}

img[src="imagenes/alura.png"]
{
    position: relative;
    left: 30px;
    height: 60%;

}

#button-copiar
{
    background-color: #D8DFE8;
    /*Alinear horizontalmente al centro solo este elemento */
}

#button-copiar:hover
{
    background-color: white;
}

#button-copiar:active
{
    background-color: #D8DFE8;
}


footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-end;
    height: 80px;
    background: linear-gradient(to bottom, #033e72, #001f3f);

    color: white;
    margin-top: 50px;
}
