

body
{
    font-family: "Inter";
    background-color: #F3F5FC;
}

#principal
{
    /*Caja*/
    display: flex;
    align-items: center;
    /*Disposicion del contenido*/
    justify-content:space-evenly;
}

#entrada
{
    /*Caja*/
    padding: 10px;
    margin-bottom: 10px;
    height: 250px;
    min-width: 350px;
    max-width: 350px;

    /*Texto*/
    font-size: 24px; 
    font-family: "Inter";
    color: #0A3871;
}

#button-encriptar
{
    background-color: #0A3871;
    color:white;
}

#button-desencriptar
{
    color:#0A3871;
    background-color: #D8DFE8;
}

button
{
    /*Caja*/
    width: 180px;
    border-radius: 24px;
    padding: 24px;

    /*Texto*/
    font-size: 16px;  

    /*Disposicion del contenido*/
    text-align: center;
}

#div-izquierdo
{
    /*Caja*/
    display: flex;
    height: fit-content;

    flex-direction: column;
    width: fit-content;
    /*Contenido*/
    text-align: center;
}

#div-botones
{
    /*Caja*/
    margin-left: auto;
    margin-right: auto;
}

#div-derecho
{
    /*Caja*/
    display: flex;
    flex-direction: column;
    border: solid;
    background-color: white;
    max-width: 280px;
    height: 500px;
    border-radius: 32px;
    padding: 20px;
    /*Centrar imagen horizontalmente*/
    align-items:center;
    /*Centrar texto horizontalmente*/
    text-align:center;
    /*Centrar imagen y texto verticalmente*/
    justify-content:center;
}

strong p
{
    font-size: 24px;
}

#p-subleyenda
{
    font-size: 12px;
}

img[src="imagenes/muneco.png"]
{
    max-width: 80%;
    height: auto;
    margin-bottom: 10%;
}

img[src="imagenes/alura.png"]
{
    position: absolute;
    top: 30px;
    left: 2%;
}

#button-copiar
{
    align-self: flex-end;
    /*Alinear horizontalmente al centro solo este elemento */
    margin-left: auto;
    margin-right: auto; 
}

#img-alura
{
    width: 75px;
    margin-bottom: 0px;
}

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    background: linear-gradient(to bottom, #033e72, #001f3f);

    color: white;
    margin-top: 50px;
}
